{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Inscription{% endblock %}

{% block bodyClass %}user_form{% endblock %}
{% block body %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.profile_pic) }}

    {{ form_label(registrationForm.presentation, "Une courte présentation ? Et si on s'est déjà rencontrés, n'oubliez pas de le mentionner ;-)") }}
    {{ form_widget(registrationForm.presentation) }}

    <button class="btn">Envoyer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
