{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil {% endblock %}

{% block bodyClass %}home{% endblock %}
{% block body %}
    <section class="banner container">
        <h1>Les Carnets de Jack
            {% include 'svg/logo.svg' %}
        </h1>
        <p class="subline">Les aventures prennent sens une fois racontées.</p>
    </section>

    <div class="post_banner_container">
        <div class=" sep_frag fragment_mini"></div>
        <div class="frag_wrapper_1"><div class="sep_frag fragment_1"></div></div>
        <div class="post_banner"></div>
        <div class="frag_wrapper_2"><div class="sep_frag fragment_2"></div></div>
    </div>

    <div class="container">
        <p class="accroche trigger triggered"><strong>Bienvenue à bord !</strong> <br> <br>

            Je suis <em>Jack</em>, explorateur curieux, et vagabond enthousiaste. <br><br>

            Ici, tu trouveras je l'espère, toute l'inspiration dont tu as besoin
            au travers de recits de voyages passionnants ou insolites,
            vécus par des aventuriers et aventurières de tous horizons. <br>
            Car nous sommes toujours intéressés par <em>une bonne histoire !</em>
        </p>
    </div>

    <section class="vers_jdb">
        <div class="container">

            <h2 class="trigger triggered">Journal de Bord</h2>

            <div class="content">

                <p class="trigger triggered jdb_text_1">
                    Pour quelles raisons avons nous envie de partir explorer le monde ? <br>
                    Changer sa vision des choses ? Sortir de sa zone de confort ? <br>
                    Rechercher une sensation particulière, celle-là même qu'on se saurait pas décrire, mais
                    que l'on reconnaît immédiatement lorsqu'elle se présente? <br>
                    S'il paraît qu'il existe autant de raisons différentes que de voyageurs, pour moi ce sont au moins toutes ces raisons à la fois.
                    <br>
                    Et puis, j'aime que l'on me raconte des histoires. Et j'aime en raconter. <br>
                    Alors, j'ai fini par me décider à partir à la recherche d'histoire à raconter.
                    <br>
                    Et aujourd'hui, <a href="{{ path('journal_index') }}">l'aventure commence.</a>
                </p>

                <!--TODO:: afficher le dernier article -->

                <div class="illustration illustration_jdb">
                    <a href="{{ path('journal_index') }}">
                        <div class="fragment fragment_1 trigger triggered"></div>
                        <img src="{{ asset("img/backpack.jpg") }}" alt="journal de bord" class="trigger triggered">
                        <div class="fragment fragment_2 trigger triggered"></div>
                    </a>
                    <p class="trigger triggered">
                        Dans ce journal de bord, vous pourrez suivre
                        le récit de mes propres (més)aventures.
                        Et s'il n'y a rien de nouveau et palpitant à raconter,
                        et bien je vous partagerai mes idées et réflexions. <br>
                        Si cela ne parvient pas à réveiller ou entretenir une
                        petite flamme en vous, vous pouvez vous venger sur les
                        autres sections du site : les aventures vécues par d'autres
                        voyageurs, à travers toutes les époques,
                        ou pourquoi pas la vôtre ?
                    </p>
                </div>

            </div>
        </div>
    </section>

<h2 class="soon">Bientôt...</h2>

    <section class="vers_recits soon">
        <div class="container">

            <div class="content">
                <div class="illustration illustration_recits">
                    <h2>Les récits historiques</h2>
                    <a href="{#{{ path('tales_list') }}#}" class="soon_link">
                        <div class="fragment fragment_1 trigger triggered"></div>
                        <img src="{{ asset("img/recit_illu.jpg") }}" alt="Le HMS Terror pris dans la glace"
                             class="trigger triggered">
                        <div class="fragment fragment_2 trigger triggered"></div>
                    </a>
                </div>

                <p>
                    Le voyage et l'exploration ne datent pas d'hier.
                    Et à travers les âges certains aventuriers ont vécu des
                    histoires à couper le souffle. En bien comme en mal.
                    <br><br>
                    On y trouve quelques dossiers sourcés et illustrés,
                    parfois accompagnés d'une vidéo narrative, pour en
                    apprendre davantage sur <a href="{#{{ path('tales_list') }}#}" class="soon_link">ces aventuriers qui ont
                        marqué l'Histoire </a>.
                    <br><br>
                    Autant dire qu'ils sont une des raisons qui vous donne
                    envie de prendre la route.
                </p>
            </div>
        </div>
    </section>

    <section class="vers_contributions soon">
        <div class="container">
            <h2>Vos récits</h2>

            <div class="content">
                <p>
                    Nombreux sont ceux qui ont quelque chose à raconter.
                    Cette section est dédiée aux histoires que d'autres ont pu vivre.
                    Partagez leur expérience, écoutez leurs conseils, et tirez-en quelque chose pour vos propres
                    aventures. <br><br>
                    Et si vous-même souhaitez souhaitez nous faire part d'accomplissements, de mésaventures,
                    ou de réflexions, ne vous privez-pas. Ce site est là pour ça !
                    C'est <a href="{{ path('contribution_index') }}" class="soon_link">par ici !</a>. <br>
                    Nous avons hâte de vous lire !
                </p>

                <a href="{#{{ path('contribution_index') }}#}" class="illustration illustration_contributions soon_link" >
                    <div class="fragment fragment_1 trigger triggered"></div>
                    <div class="fragment fragment_2 trigger triggered"></div>
                    <img src="{{ asset("img/contributions.jpg") }}" alt="Deux aventurières devant un paysage magnifique"
                         class="trigger triggered">
                    <div class="fragment fragment_3 trigger triggered"></div>
                </a>
            </div>
        </div>
    </section>

    <!--
    <section class="vers_utilitaires soon">
        <div class="container">
            <h2>Utilitaires</h2>
            <div class="content">
                <a href="" class="illustration illustration_utilitaires soon_link">
                    <div class="fragment fragment_1 trigger triggered"></div>
                    <img src="" alt="Un smartphone, des herbes, des noeuds, un kit de couture" class="trigger triggered">
                    <div class="fragment fragment_2 trigger triggered"></div>
                </a>


                <p>
                    Pour finir : astuces, techniques, connaissances, une section
                    plus pragmatique où l'on partage le savoir-faire
                    nécessaire à meilleure expérience de voyage possible. <br>
                    De l'équipement indispensable, aux thés sauvages les
                    plus délicieux.
                </p>
            </div>
        </div>
    </section>

    -->

{% endblock %}