{% extends 'base.html.twig' %}

{% block title %}Cabine de {{ app.user.username }} {% endblock %}

{% block bodyClass %}cabin{% endblock %}

{% block body %}

    <h1>Cabine de&nbsp;: <span class="username">&nbsp;{{ app.user.username }}</span></h1>


    <div class="container">
        <div class="user_grid">

            <img class="user_img shadowed" src="
                         {% if app.user.profilePic is not null %}
                            {{ asset('uploads/img/user/' ~ app.user.profilePic) }}
                        {% else %}
                            {{ asset("img/placeholder_1.jpg") }}
                        {% endif %}
                        " alt="">
            <p class="user_desc">{{ app.user.presentation }}</p>
        </div>
            <ul class="infos textNimg">
                <li>{{ app.user.email }}</li>
            </ul>
    </div>

{% endblock %}