{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Récits historiques{% endblock %}

{% block bodyClass %}{% endblock %}

{% block body %}

    <h1>Découvrez certains des plus grands récits de l'Histoire</h1>
    <p class="subline">Mes préférés, en tous cas.</p>

    <nav>
        <ul>
            {% for recit in recits %}
                <li><a href="{{ path('recit', {'vue' : recit.vue}) }}">{{ recit.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    {% if is_granted("ROLE_ADMIN") %}

        <p>Insérer un récit historique dans la DB :</p>

        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.vue) }}
        {{ form_row(form.sources) }}

        <input type="submit" value="Publier">
        {{ form_end(form) }}

        {% for message in app.session.flashBag.get('tale') %}
            <p>{{ message }}</p>
        {% endfor %}

        <a href="{{ path('source_register') }}">Ajouter une source</a>

    {% endif %}

{% endblock %}