{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Enregistrer une source {% endblock %}

{% block body %}

    <h1>Enregistrer une source</h1>

    <div class="container source_form">
        {{ form_start(sourceForm) }}
        {{ form_row(sourceForm.title) }}
        {{ form_row(sourceForm.adress) }}
        <input type="submit" value="Poster">
        {{ form_end(sourceForm) }}

        {% for message in app.session.flashBag.get('source') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endblock %}