{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Nouvelle entrée du journal {% endblock %}

{% block bodyClass %}new_entry{% endblock %}

{% block body %}

    <h1>Journal de bord : nouvelle entrée.</h1>

    <div class="container">

        {{ form_start(form, {attr:{'id': "new_entry_editor"}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.date) }}
        {{ form_row(form.content) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.illustration) }}
        <input type="submit" value="Envoyer">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("tinymce/tinymce.min.js") }}"></script>
    {{ parent() }}
{% endblock %}