{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ entry.title }}{% endblock %}

{% block bodyClass %}entry{% endblock %}

{% block body %}

    <div class="container">
        <a href="{{ path('journal_index') }}" class="subline">Journal de bord</a>
        <h1>{{ entry.title }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('edit_entry', {'id' : entry.id}) }}">Modifier l'entrée</a>
            <br>
            <a href="{{ path('del_entry', {'id' : entry.id}) }}" onclick="alert('Confirmer la suppression ?')">Supprimer l'entrée</a>
        {% endif %}
        <div class="tags">
            <p>Tags :</p>
            <ul>
                {% if entry.tags[0] is not empty %}
                    {% for tag in entry.tags %}
                        <li><a href="{{ path("entry_category", {"tag": tag}) }}">{{tag}}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Aucun</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="image_container container">
        <img class="index_img" src="
                         {% if entry.illustration is not null %}
                            {{ asset('uploads/img/journal/' ~ entry.illustration) }}
                        {% else %}
                            {{ asset("img/placeholder_1.jpg") }}
                        {% endif %}
                        " alt="">
    </div>
    <section>
        <div class="container">
            <article>
                {{ entry.content|raw }}
            </article>
        </div>
    </section>
    <section>
        <div class="container" id="commentaires">
            <h2>Commentaires :</h2>
            {% for comment in comments %}
                <p><i class="auteur">{{ comment.author }}</i> : {{ comment.text }}</p>
            {% endfor %}

            {{ form_start(commentForm) }}

            <p class="commenter">Écrire un commentaire ?</p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
                <p>Pseudo : <span class="auteur">{{ form_label(commentForm.text, app.user.username) }}</span></p>
                {{ form_widget(commentForm.text) }}

                <input type="submit" value="Poster">
                {{ form_end(commentForm) }}

                {% for message in app.session.flashBag.get('blog') %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% else %}
                <span class="auteur">Rejoignez l'équipage pour commenter !</span>
                <a href="{{ path('app_login') }}">(S'identifier)</a>
            {% endif %}
        </div>
    </section>


{% endblock %}